.idea/
7.4bin/
players/
plugins(fb)/
worlds/
maps/
bin/
crashdumps/
AltayYepYep.phar
coin.yml
banned-players.txt
ops.txt
NGL VERSION INFO
plugin_data/AcidIsland/
plugin_data/AutoClearLagg/
GIT SSH TOKEN.txt
start.cmd
vc_redist.x64.exe
white-list.txt
plugin_data/Boss
plugin_data/cayphattai
plugin_data/NapThe
plugin_data/PointAPI
plugin_data/PureChat
plugin_data/PurePerms
plugin_data/ThrowableTNT
plugin_data/GiftCode
plugin_data/EconomyAPI
plugins/NapThe
plugins/Boss
plugins/CPTv1.1.0
plugins/CrazyBan
plugins/DevTest
plugins/FireBall
plugins/MineSweeperPE-master
plugins/PointAPI-master
plugins/Prestige
plugins/SmeltWands
plugins/ThrowableTNT
plugins/FartBattle
plugins/AutoNapThe
plugins/GiftCode
plugin_data/EconomyAPI
plugin_data/Island
server(fb).properties
PocketMine-MP 3.14.2.phar
plugin_data/GameHandle/Achivement/player.yml
plugins/CayPhatTai/comming soon project.bla
plugins/MyPlot.phar.update
plugins/OreGen.phar.update
plugin_data/RedstoneCircuit/ScheduledBlockUpdate.yml
bin/
bin/php7/bin/php
bin/php7/bin/php-config
server.log
plugin_data/RedstoneCircuit/ScheduledBlockUpdate.yml
plugin_data/GameHandle/Achivement/data.yml
*.lock
*.log
start.sh
plugin_data/OnlineTime/players.db
plugin_data/RedstoneCircuit/ScheduledBlockUpdate.yml
plugin/CTG
plugin_data/CTG
plugins/CTG/plugin.yml
plugins/CTG/src/NgLamVN/CTG/CTG.php
plugins/CTG/src/NgLamVN/CTG/Generator.php
plugins/CTG/src/NgLamVN/CTG/GoldenTree.php
resource_packs
plugins/CustomItemLoader
plugin_data/CustomItemLoader
resource_packs/resource_packs.yml
plugin_data/RedstoneCircuit/ScheduledBlockUpdate.yml
plugins/AutoInv.phar
plugins/AutoInv.pharz
plugins/CursedDrop/plugin.yml
plugins/CursedDrop/src/NgLamVN/CursedDrop/CursedDrop.php
resource_packs/resource_packs.yml
plugin_data/BuyKitFM/players.yml
plugin_data/BuyKitFM/kits.yml
vendor/
run.cmd
